body{
  background-color: #136F63;

}
.main{
  background-color: #22AAA1;
  border: 2px solid black;
  width: 25%;
  height: 680px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  border-radius: 10px;
}

.info{
  border-radius: 20px;
  background-color: rgb(48, 44, 44);
  width: 95%;
  height: 230px;
  margin-left: 8px;
  margin-top: 5px;
  margin-right: 10px;
  color: yellow;
}
.info table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-left: 35px;


}

.info th {
  padding-top: 15px;
}
.info h1{
  text-align: center;
  font-size: 28px;
}
.nome{
  width: 90%;
  height: 150px;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 0px;
}
.nome input{
  width: 95%;
  border-radius: 5px;
}

.style-button{
  width: 25%;
  height: 50px;
  margin-left: 35%;
  margin-right: 25%;
  border-radius: 10px;
}
.infoUser{
border-radius: 20px;
background-color: rgb(48, 44, 44);
width: 95%;
height: 150px;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
color:yellow;
text-align: center;
font-size: 19px;
padding-top: 50px;
}